attrs==21.2.0
autopep8==1.5.7
colorama==0.4.4
flake8==3.9.2
flake8-docstrings==1.6.0
flake8-polyfill==1.0.2
flake8-todo==0.7
future==0.18.2
iniconfig==1.1.1
mando==0.6.4
mccabe==0.6.1
packaging==21.0
pep8-naming==0.12.1
pluggy==1.0.0
py==1.10.0
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.5
radon==5.1.0
six==1.16.0
snowballstemmer==2.1.0
toml==0.10.2